.place__title {
    font-style: normal;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: .9;
    color: #FFFFFF;
    margin: 0 2.5rem 0 0;
    max-width: 28.75rem;
    width: 47%;
}



@media screen and (max-width: 768px) {
    .place__title {
        font-size: 2.6rem;
        line-height: 46px;
        max-width: 21rem;
        padding-left: .5rem;
    }
}

@media screen and (max-width: 640px) {
    .place__title {
        width: 100%;
        padding: 0;
        margin: 0;
        max-width: 25rem;
    }
}

@media screen and (max-width: 375px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        padding-left: 1rem;
    }
}

@media screen and (max-width: 337px) {
    .place__title {
        max-width: 18rem;
    }
}