.comment__quote {
    font-style: normal;
    font-weight: normal;
    font-size: .8rem;
    line-height: 1.9;
    color: #FFFFFF;
    text-align: left;
    margin: 0 0 .3rem 0;
}

@media screen and (max-width: 1024px) {
    .comment__quote {
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .comment__quote {
        order: 1;
        font-size: 1rem;
        line-height: 23px;
    }
}

@media screen and (max-width: 375px) {
    .comment__quote {
        padding-left: 1rem;
        margin-bottom: 3rem;
    }
}