.header__lang {
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 0.97;
  text-align: right;
  text-decoration: none;
  color: #ffffff;
  margin-right: 1.1rem;
}

.header__lang:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 375px) {
  .header__lang {
    font-size: 18px;
    text-align: right;
    line-height: 17px;
  }
}
