@import url(../lead/__title/lead__title.css);
@import url(../lead/__subtitle/lead__subtitle.css);
@import url(../lead/__frame/lead__frame.css);
@import url(../lead/__image/lead__image.css);
@import url(../lead/__caption/lead__caption.css);

.lead {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 48rem;
    }
}

@media screen and (max-width: 375px) {
    .lead {
       margin-bottom: 4rem;
    }
}

@media screen and (max-width: 337px) {
    .lead {
        max-width: 20rem;
    }
}