.header__logo {
    max-width: 11rem;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 375px) {
    .header__logo {
        max-width: 8.8rem;
        margin-left: .5rem;
    }
}