.intro__content-row {
    color: #FFFFFF;
    max-width: 42.68rem;
    margin: 0 0 1rem 0;
    font-style: normal;
    font-weight: normal;
    font-size: .87rem;
    line-height: 24px;
    text-align: left;
}

@media screen and (max-width: 1024px) {
    .intro__content-row  {
        margin-bottom: 1.7rem;
    }
}

@media screen and (max-width: 768px) {
    .intro__content-row {
        max-width: 45rem;
    }
}

@media screen and (max-width: 375px) {
    .intro__content-row {
        font-size: 16px;
        line-height: 27px;
    }
}