.video__icon-play {
    width: 41px;
    height: 41px;
    margin: 1.8rem 0 5.8rem 1.8rem;
    position: relative;
    z-index: 3;
}

.video__icon-play:hover {
    box-shadow: 0 0 10px #252424;
    border-radius: 50%;
}

@media screen and (max-width: 1024px) {
    .video__icon-play {
        margin-bottom: 2.5rem;
    }
}

@media screen and (max-width: 768px) {
    .video__icon-play {
        margin-bottom: 2rem;
    }
}