@import url(../intro/__title/intro__title.css);
@import url(../intro/__content-row/intro__content-row.css);
@import url(../intro/__texts/intro__texts.css);
@import url(../intro/__texts/_normal/intro__text_normal.css);

.intro {
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
}

@media screen and (max-width: 375px) {
    .intro {
        max-width: 21.4rem;
        margin-bottom: 4.5rem;
    }
}

@media screen and (max-width: 337px) {
    .intro {
        max-width: 18rem;
    }
}