@import url(../intro/__title/intro__title.css);
@import url(../intro/__content-row/intro__content-row.css);
@import url(../intro/__text/intro__text.css);

.intro {
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
}