.content-subtitle {
    margin: 0 auto 3.5rem;
    max-width: 40rem;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .content-subtitle {
        font-size: 1.5rem;
        line-height: 35px;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 375px) {
    .content-subtitle {
        font-size: 16px;
        line-height: 23px;
        max-width: 21.4rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 337px) {
    .content-subtitle {
        max-width: 18rem;
    }
}