.lead__subtitle {
    margin: 0 auto 4.2rem;
    font-style: normal;
    font-weight: normal;
    font-size: 1.9rem;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    max-width: 36.4rem;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        margin-bottom: 4.8rem;
    }
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 375px) {
    .lead__subtitle {
        font-size: 1rem;
        line-height: 23px;
    }
}
