.footer__list {
    display: flex;
    margin-right: 1.1rem;
}

.footer__list:last-child {
    margin: 0;
}

@media screen and (max-width: 375px) {
    .footer__list {
        margin-bottom: 1rem;
    }
}