.intro__texts {
    font-style: normal;
    font-weight: bold;
    font-size: .8rem;
    line-height: 1.6;
    color: #FFFFFF;
    max-width: 23.9rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media screen and (max-width: 768px) {
    .intro__texts {
        margin-left: .5rem;
    }
}

@media screen and (max-width: 337px) {
    .intro__texts {
        max-width: 18rem;
        margin-left: 0;
    }
}