.place__url {
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.7;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: underline;
}

.place__url:hover {
    opacity: .7;
    transition: opacity ease 1s;
}